@use "../themes/theme" as *;
@use "./workspaces.scss";
@use "./launcher.scss";
@use "./time.scss";
@use "./systray.scss";

window.bar {
    font-weight: bold;

    .surface {
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        border-radius: 12px;
    }

    .surface1 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 8px;
        border-radius: 12px;
    }

    .workspaces {
        @include workspaces.default;
    }

    .launcher {
        @include launcher.default;
    }

    .time {
        @include time.default;
    }

    .systray {
        @include systray.default;
    }

    @include theme() {
        background-color: theme-get("base");
        color: theme-get("text");

        .surface {
            background-color: theme-get("surface0");
            border: 0.5px solid theme-get("crust");
        }

        .surface1 {
            background-color: theme-get("surface0");
            border: 0.5px solid theme-get("crust");
        }

        .workspaces {
            @include workspaces.themed;
        }

        .systray {
            @include systray.themed;
        }

        eventbox {
            &:hover {
                color: theme-get("overlay0");
            }
        }
    }
}
