@use "sass:map";

$themes: (
    frappe: (
        text: #c6d0f5,
        subtext1: #b5bfe2,
        subtext0: #a5adce,
        overlay2: #949cbb,
        overlay1: #838ba7,
        overlay0: #737994,
        surface2: #626880,
        surface1: #51576d,
        surface0: #414559,
        base: #303446,
        mantle: #292c3c,
        crust: #232634,
        color0: #f4dbd6,
        color1: #f0c6c6,
        color2: #f5bde6,
        color3: #c6a0f6,
        color4: #ed8796,
        color5: #ee99a0,
        color6: #f5a97f,
        color7: #eed49f,
        color8: #a6da95,
        color9: #8bd5ca,
        color10: #91d7e3,
        color11: #7dc4e4,
        color12: #8aadf4,
        color13: #b7bdf8,
    ),
    dark: (
        text: green,
        subtext1: green,
        subtext0: green,
        overlay2: green,
        overlay1: green,
        overlay0: green,
        surface2: green,
        surface1: green,
        surface0: green,
        base: green,
        mantle: green,
        crust: green,
        color0: green,
        color1: green,
        color2: green,
        color3: green,
        color4: green,
        color5: green,
        color6: green,
        color7: green,
        color8: green,
        color9: green,
        color10: green,
        color11: green,
        color12: green,
        color13: green,
    ),
    light: (
        text: green,
        subtext1: green,
        subtext0: green,
        overlay2: green,
        overlay1: green,
        overlay0: green,
        surface2: green,
        surface1: green,
        surface0: green,
        base: green,
        mantle: green,
        crust: green,
        color0: green,
        color1: green,
        color2: green,
        color3: green,
        color4: green,
        color5: green,
        color6: green,
        color7: green,
        color8: green,
        color9: green,
        color10: green,
        color11: green,
        color12: green,
        color13: green,
    ),
);

$theme-map: null;

@mixin theme() {
    @each $theme, $map in $themes {
        // $theme: darkTheme, lightTheme
        // $map: ('text-color': ..., 'bg-color': ...)
        

        // make the $map globally accessible, so that theme-get() can access it
        $theme-map: $map !global;

        // make a class for each theme using interpolation -> #{}
        // use & for making the theme class ancestor of the class
        // from which you use @include theme() {...}
        .#{$theme} {
            @content; // the content inside @include theme() {...}
        }
    }
    // no use of the variable $theme-map now
    $theme-map: null !global;
}

@function theme-get($key) {
    @return map.get($theme-map, $key);
}
