@use "sass:map";

$themes: (
    latte: (
        text: #4c4f69,
        subtext1: #5c5f77,
        subtext0: #6c6f85,
        overlay2: #7c7f93,
        overlay1: #8c8fa1,
        overlay0: #9ca0af,
        surface2: #acb0bd,
        surface1: #bcc0cb,
        surface0: #ccd0d9,
        base: #eff1f5,
        mantle: #e6e9ef,
        crust: #dce0e8,
        color0: #f2d5cf,
        color1: #f5bde6,
        color2: #8bd5ca,
        color3: #fae3b0,
        color4: #f5bde6,
        color5: #f8cdcd,
        color6: #fae3b0,
        color7: #f2d5cf,
        color8: #96cdfb,
        color9: #f5bde6,
        color10: #8bd5ca,
        color11: #fae3b0,
        color12: #b5bfe2,
        color13: #f5bde6,
    ),
    frappe: (
        text: #c6d0f5,
        subtext1: #b5bfe2,
        subtext0: #a5adce,
        overlay2: #949cbb,
        overlay1: #838ba7,
        overlay0: #737994,
        surface2: #626880,
        surface1: #51576d,
        surface0: #414559,
        base: #303446,
        mantle: #292c3c,
        crust: #232634,
        color0: #f4dbd6,
        color1: #f0c6c6,
        color2: #f5bde6,
        color3: #c6a0f6,
        color4: #ed8796,
        color5: #ee99a0,
        color6: #f5a97f,
        color7: #eed49f,
        color8: #a6da95,
        color9: #8bd5ca,
        color10: #91d7e3,
        color11: #7dc4e4,
        color12: #8aadf4,
        color13: #b7bdf8,
    ),
);

$theme-map: null;

@mixin theme() {
    @each $theme, $map in $themes {
        // $theme: darkTheme, lightTheme
        // $map: ('text-color': ..., 'bg-color': ...)

        // make the $map globally accessible, so that theme-get() can access it
        $theme-map: $map !global;

        // make a class for each theme using interpolation -> #{}
        // use & for making the theme class ancestor of the class
        // from which you use @include theme() {...}
        .#{$theme} {
            @content; // the content inside @include theme() {...}
        }
    }
    // no use of the variable $theme-map now
    $theme-map: null !global;
}

@function theme-get($key) {
    @return map.get($theme-map, $key);
}
