@use "../themes/theme" as *;
@use "./workspaces.scss";
@use "./launcher.scss";
@use "./time.scss";
@use "./systray.scss";
@use "./quick.scss";
@use "./profile.scss";
@use "./focused-client.scss";
@use "./notifications.scss";
@use "./show-desktop.scss";

window.bar {
    font-weight: bold;
    min-height: 30px;

    box {
        &.centerbox {
            padding: 0px 5px 0 5px;
        }
    }

    .launcher {
        &:hover {
            filter: grayscale(100%);
            transform: translateY(-1px);
        }
    }

    label {
        &:hover {
            transform: translateY(-1px);
        }
    }

    .surface {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 12px;
    }

    .surface1 {
        padding-left: 10px;
        padding-right: 10px;
        padding: 0px 2px 0px 2px;
        border-radius: 12px;
    }

    @include focused-client.default;

    .workspaces {
        @include workspaces.default;
    }

    .launcher {
        @include launcher.default;
    }

    .time {
        @include time.default;
    }

    .systray {
        @include systray.default;
    }

    .quick {
        @include quick.default;
    }

    .profile {
        @include profile.default;
    }

    .notifications {
        @include notifications.default;
    }

    .show-desktop {
        @include show-desktop.default;
    }

    @include theme() {
        background-color: theme-get("mantle");
        color: theme-get("text");

        button {
            &:active {
                color: orange;
            }
            &:hover {
                background: linear-gradient(
                    90deg,
                    rgba(42, 123, 155, 0.2) 0%,
                    rgba(87, 199, 133, 0.2) 50%,
                    rgba(237, 221, 83, 0.2) 100%
                );
            }
        }

        .surface {
            background-color: theme-get("surface0");
            border: 0.5px solid theme-get("crust");
        }

        .surface1 {
            background-color: theme-get("surface0");
            border: 0.5px solid theme-get("crust");
        }

        .workspaces {
            @include workspaces.themed;
        }

        .systray {
            @include systray.themed;
        }

        .quick {
            @include quick.themed;
        }

        .profile {
            @include profile.themed;
        }

        .time {
            @include time.themed;
        }

        .notifications {
            @include notifications.themed;
        }

        .show-desktop {
            @include show-desktop.themed;
        }
    }
}
