@use "../themes/theme" as *;

@mixin default {
    .focused-client {
        border: none;
        box-shadow: none;
        background: transparent;
    }
    
    /* App name styling */
    .app-name {
        font-weight: 600;
        font-size: 0.8em;
    }
    
    /* Window title styling */
    .window-title {
        font-size: 0.7em;
        font-style: italic
    }
    
    /* App icon styling */
    .app-icon {
        margin-right: 4px;
        opacity: 0.9;
    }
}

@mixin themed {
    border: 0.5px solid theme-get("crust");
    
    .app-name {
        color: gtkalpha(theme-get("text"), 0.5);
    }
    
    .app-name:hover {
        color: gtkalpha(theme-get("text"), 1);
    }
    
    .window-title {
        color: gtkalpha(theme-get("subtext1"), 0.5);
    }
    
    .focused-client:hover .window-title,
    .focused-client-button:hover .window-title,
    .focused-client-reactive:hover .window-title {
        color: gtkalpha(theme-get("subtext1"), 1);
    }
}
