@use "../themes/theme" as *;
@use "../util.scss";

@mixin default {

    .profile-pfp {
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dismiss-notifications {
        margin-right: 10px;
        font-size: 20px;
    }

    .dismiss-notifications-label {
        margin-right: 10px;
        font-size: 20px;
    }

    .small-font {
        font-size: 12px;
    }

    .surface0 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 8px;
        border-radius: 15px;
    }

    .surface1 {
        border-radius: 11px;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .slider {
        border-radius: 12px;

        trough {
            min-height: 10px;
            border-radius: 12px;

            highlight,
            progress {
                border-radius: 12px;
            }
        }

        slider {
            box-shadow: none;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 12px;
        }
    }

    box.MediaPlayer {
        box.coverArt {
            min-width: 64px;
            min-height: 64px;
            border-radius: 9px;
            margin-right: 0.6rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .title {
            label {
                font-weight: bold;
                font-size: 0.9em;
            }
        }

        scale {
            padding: 0;
            margin: 0.4rem 0;

            trough {
                min-height: 8px;
                border-radius: 20px;
            }

            highlight {
                /* background-color: $fg-color; */
            }

            slider {
                all: unset;
            }
        }
        
        .position {
            font-size: 9px;
        }

        centerbox.actions {
            min-width: 220px;

            button {
                min-width: 0;
                min-height: 0;
                padding: 0.4rem;
                margin: 0 0.2rem;
            }
        }
    }

    box.Notification {
        padding: 7px;
        margin-right: 10px;
        border-radius: 15px;

        .header {
            .app-name {
            }

            .time {
            }
        }

        .content {
            .summary {
            }

            .body {
            }

            .image {
                border-radius: 9px;
                min-width: 48px;
                min-height: 48px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

@mixin themed {
    background-color: gtkalpha(theme-get("surface0"), 0.95);
    color: theme-get("text");

    box.Notification {
        background-color: theme-get("surface2");

        .header {
            .app-name {
            }

            .time {
            }
        }

        .content {
            .summary {
            }

            .body {
            }

            .image {
                border: 1px solid util.gtkalpha(theme-get("crust"), 1);
            }
        }
    }

    .profile {
        border: 0.5px solid theme-get("crust");
    }

    .surface0 {
        background-color: theme-get("surface1");
        border: 0.5px solid theme-get("crust");
    }

    .surface1 {
        background-color: theme-get("surface1");
        border: 0.5px solid theme-get("crust");
    }

    .surface2 {
        background-color: theme-get("surface1");
    }

    separator {
        background-color: theme-get("surface0");
    }
}
