@use "../themes/theme" as *;

@mixin default {
    margin: 4px;
    border-radius: 8px;
    padding: 2px 4px;
    
    &:hover {
        transform: translateY(-1px);
    }

    .entry {
        &:hover {
            transform: translateY(-1px);
        }
        
        button {
            background-color: transparent;
            padding: 0px 2px;
            &:hover {
                transform: translateY(-1px);
            }
        }

        box {
            &:hover {
                transform: translateY(-1px);
            }
        }
    }
}

@mixin themed {
    background-color: theme-get("surface0");
    color: theme-get("text");
}
