@use "../themes/theme" as *;
@use "../util.scss";

window.profile {
    .profile {
        border-radius: 11px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 8px;
        /* border: 1px solid rgba(255, 255, 255, 0.1); */
        min-width: 100px;
        min-height: 300px;
    }

    .profile-pfp {
        min-width: 40px;
        min-height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 5px;
    }

    .small-font {
        font-size: 12px;
    }

    .surface0 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 8px;
        border-radius: 15px;
    }

    .surface1 {
        border-radius: 11px;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .slider {
        /* min-width: 100px;
        min-height: 150px; */
        border-radius: 12px;
        /* background: color.$pink; */

        trough {
            /* background: color.$pink; */
            min-height: 10px;
            border-radius: 12px;

            highlight,
            progress {
                border-radius: 12px;
            }
        }

        slider {
            box-shadow: none;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 12px;
        }
    }

    .calendar {
        padding: 2px;

        calendar {
            all: unset;

            &.button {
                /* $include button($flat: true); */
                margin: 1em;
            }

            &:selected {
                background-color: red;
                border-radius: 10px;
                /* background-color: color.adjust($accent, $alpha: -0.5);
              border-radius: calc($radii / 2); */
            }

            &.header {
                background-color: transparent;
                border: none;
                color: pink;
                /* color: $fg; */
            }

            &.highlight {
                background-color: transparent;
                color: purple;
                /* color: $accent; */
            }

            &:indeterminate {
                color: orange;
            }

            /* &:indeterminate {
              color: color.adjust($fg, $alpha: -0.7);
            } */
            font-size: 1.1em;
            padding: 0.2em;
        }
    }

    box.MediaPlayer {
        padding: 0.6rem;
        /* background-color: $bg-color; */

        box.cover-art {
            min-width: 64px;
            min-height: 64px;
            border-radius: 9px;
            margin-right: 0.6rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        box.title {
            label {
                font-weight: bold;
                font-size: 0.9em;
            }
        }

        scale {
            padding: 0;
            margin: 0.4rem 0;

            trough {
                min-height: 8px;
                border-radius: 20px;
            }

            highlight {
                /* background-color: $fg-color; */
            }

            slider {
                all: unset;
            }
        }

        centerbox.actions {
            min-width: 220px;

            button {
                min-width: 0;
                min-height: 0;
                padding: 0.4rem;
                margin: 0 0.2rem;
            }
        }
    }
    
    eventbox.Notification {
    
        /* &:first-child>box {
            margin-top: 1rem;
        }
    
        &:last-child>box {
            margin-bottom: 1rem;
        } */
    
        // eventboxes can not take margins so we style its inner box instead
        >box {
            /* min-width: 400px;
            border-radius: 13px;
            background-color: grey;
            margin: .5rem 1rem .5rem 1rem;
            box-shadow: 2px 3px 8px 0 util.gtkalpha(black, .4);
            border: 1pt solid util.gtkalpha(white, .03); */
        }
    
        &.critical>box {
            border: 1pt solid util.gtkalpha(red, .4);
    
            .header {
    
                .app-name {
                    color: util.gtkalpha(red, .8);
    
                }
    
                .app-icon {
                    color: util.gtkalpha(red, .6);
                }
            }
        }
    
        .header {
            padding: .5rem;
            color: util.gtkalpha(white, 0.5);
    
            .app-icon {
                margin: 0 .4rem;
            }
    
            .app-name {
                margin-right: .3rem;
                font-weight: bold;
    
                &:first-child {
                    margin-left: .4rem;
                }
            }
    
            .time {
                margin: 0 .4rem;
            }
    
            button {
                padding: .2rem;
                min-width: 0;
                min-height: 0;
            }
        }
    
        separator {
            margin: 0 .4rem;
            background-color: util.gtkalpha(white, .1);
        }
    
        .content {
            margin: 1rem;
            margin-top: .5rem;
    
            .summary {
                font-size: 1.0em;
                color: white;
            }
    
            .body {
                color: util.gtkalpha(white, 0.8);
            }
    
            .image {
                border: 1px solid util.gtkalpha(white, .02);
                margin-right: .5rem;
                border-radius: 9px;
                min-width: 50px;
                min-height: 50px;
                background-size: cover;
                background-position: center;
            }
        }
    
        .actions {
            margin: 1rem;
            margin-top: 0;
    
            button {
                margin: 0 .3rem;
    
                &:first-child {
                    margin-left: 0;
                }
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include theme() {
        background-color: theme-get("base");
        color: theme-get("text");

        .profile {
            border: 0.5px solid theme-get("crust");
        }

        .surface0 {
            background-color: theme-get("surface0");
        }

        .surface1 {
            background-color: theme-get("surface0");
        }

        .surface2 {
            background-color: theme-get("surface1");
        }

        separator {
            background-color: theme-get("mantle");
        }
    }
}
